$cardHeight : 65px;
$cardWidth: 150px;
$border: rgba(26,22,22,0.75);
$boxShadow: rgba(26,22,22,0.75);
$topCardColor:  rgb(39, 40, 59);
$bottomCardColor: rgb(45, 48, 68);
$fontColor: hsl(345, 95%, 68%);

%cut {
  content: '';
  display: block;
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: $border;
}

.counter {
  position: relative;
}
.cardContainer {
  height: $cardHeight * 2;
  width: $cardWidth;
  position: relative;
  margin: 0 20px;
  perspective: 300px;
  perspective-origin: $cardHeight;

  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4em;
    position: absolute;
    width: 100%;
    height: 65px;
    color: $fontColor;
    font-weight: 700;
    letter-spacing: 4px;
    overflow: hidden;
    transform: rotateX(0deg);

    &.top {
      top: 0;
      z-index: 1;
      background-color: rgb(39, 40, 59);
      border-radius: 8px 8px 0 0;
      p {
        display: block;
        margin: 1em 0 0 0;
        opacity: 0.85;

      }
    }

    &.bottom {
      background-color: $bottomCardColor;
      bottom: 0;
      z-index: 1;
      box-shadow:  0px 16px 11px 0px $boxShadow;
      border-radius: 0 0 8px 8px;
      p {
        margin: 0 0 1em 0;
      }
    }

    &.top::after {
      @extend %cut;
      right: -3px;
      bottom: -3px;
    }
    &.top::before {
      @extend %cut;
      left: -3px;
      bottom: -3px;
    }

    &.bottom::after {
      @extend %cut;
      right: -3px;
      top: -5px;
    }
    &.bottom::before {
      @extend %cut;
      left: -3px;
      top: -5px;
    }
  }

  .flipper {
    z-index: 1;
    background-color: $topCardColor;
    transform: rotateX(-180deg);
    transition: transform 0.8s linear;
    transform-origin: bottom;
    transform-style: preserve-3d;
  }
  .flipCard {
    background-color: $topCardColor;
    border-radius: 8px 8px 0 0;
    p {
      display: block;
      margin: 1em 0 0 0;
      opacity: 0.85;

    }
  }
  .flipCard::after {
    @extend %cut;
    right: -3px;
    bottom: -3px;
  }
  .flipCard::before {
    @extend %cut;
    left: -3px;
    bottom: -3px;
  }
}

.label {
  margin: 2em 0;
  text-align: center;
  font-size: 0.85em;
  opacity: 0.5;
  color: hsl(0, 0%, 100%);
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 400;
  text-shadow: 2px 2px 8px $boxShadow;
}

@media only screen and (max-width: 425px) {
  .cardContainer {
    height: 90px;
    width: 80px;
    margin: 0 10px;
    perspective-origin: 40px;

    .card {
      height: 45px;
      font-size: 2.5em;

      &.top {
        p {
          margin: 1.25em 0 0 0;
        }
      }

      &.bottom {
        p {
          margin: 0 0 1em 0;
        }
      }
    }
    .flipCard { 
      p {
        margin: 1.25em 0 0 0;
      }
    }
  }
  .label {
    font-size: 0.65em;
  }
}

@media only screen and (max-width: 375px) {
  .cardContainer {
    height: 76px;
    width: 65px;
    margin: 0 10px;
    perspective-origin: 40px;

    .card {
      height: 38px;
      font-size: 2em;

      &.top {
        p {
          margin: 1.25em 0 0 0;
        }
      }

      &.bottom {
        p {
          margin: 0 0 1.1em 0;
        }
      }
    }
    .flipCard { 
      p {
        margin: 1.25em 0 0 0;
      }
    }
  }
  .label {
    font-size: 0.55em;
  }
}
